<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <title>Azure search viewer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
      
  <div id="app">
    <div>
      <h3>connection</h3>
      AzureSearch Service:
       <select v-model="service" @change="getIndex">
          <option value="" >-services-</option>
          <option v-for="s in services" v-bind:value="s">
            {{ s }}
          </option>
        </select>
      index:
      <select v-model="index">
        <option value="" >-index-</option>
        <option v-for="i in indexes" v-bind:value="i">
          {{ i}}
        </option>
      </select>
    </div>

    <div>
      <h3>condition</h3>
      search:<input v-model="search" size="20">
      filter:<input v-model="filter" size="40"><br>
      count: true:<input type="radio" v-model="count" value="true"> false:<input type="radio" v-model="count" value="false"><br>
      top:<input v-model="top" size="5" number> skip:<input v-model="skip" size="5" number>
      orderby:<input v-model="orderby" size="15">
      <button @click="onSearch">Search</button><br>
      <button @click="onUpdate">update documents by right pane</button> 
      <button @click="onDelete">delete documents by right pane</button> 
      <span>{{updateResult}}</span>
    </div>

    <div>
      <textarea  style="width:700px;height:500px;" v-model="results"></textarea>
      <textarea  style="width:700px;height:500px;" v-model="updateDocuments"></textarea>
    </div>

  </div>
  </body>
  
  <script src="/index.js"></script>
</html>
